<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Contact Book.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F802FE21F75D8AD00DE31DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F802FF61F75D8AD00DE31DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F8030011F75D8AD00DE31DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
